@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    font-family: Roboto;
    /*border: 1px solid black;*/
}

:root {
    --white-space: 10px;
}

body {
    height: 100dvh;
    position: relative;
    transition: .1s all;
    background-color: #eee;
    overflow-y: auto;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

.custom-scrollbar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 8px;
    height: 50%;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
}

.custom-scrollbar .thumb {
    width: 100%;
    background: #1f3f87;
    border-radius: 4px;
    position: absolute;
    top: 0;
}

header {
    position: fixed;
    z-index: 3;
    left: 0;
    height: 100%;
    width: 10%;
    padding: var(--white-space);
    background-color: transparent;
    display: grid;
    place-items: center;
    overflow: visible;
}

header nav {
    width: 50%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    padding: var(--white-space);
    border-radius: var(--white-space);
    border: 1px solid lightgrey;
    background-color: white;
    overflow: visible;
}

header nav a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    position: relative;
    overflow: visible;
}

header nav a:hover {
    color: white;
    background-color: #1f3f87;
}

.navButton:hover>span {
    display: initial;
}

.navButton span {
    position: absolute;
    left: 50px;
    background-color: #1f3f87;
    color: white;
    z-index: 4;
    padding: var(--white-space);
    border-radius: var(--white-space);
    overflow: visible;
    display: none;
}

.navButton span:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #1f3f87;
    left: -5px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.container {
    width: 100%;
    height: 100%;
    padding: var(--white-space);
    display: grid;
    place-items: center;
}

.active {
    color: white;
    background-color: #1f3f87;
}

.itens-wrapper {
    width: 80%;
    height: 90%;
    border-radius: var(--white-space);
    padding: var(--white-space);
    border: 1px solid lightgrey;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

h2 {
    color: #444;
}

h1 span {
    color: #1f3f87;
}

#home .itens-wrapper {
    position: relative;
    overflow: visible;
}

#home .itens-wrapper .home-img {
    height: 250px;
    width: 250px;
    object-fit: contain;
    margin-bottom: 1em;
    border-radius: 50%;
    border: 2px dashed black;
    position: relative;
}

#home .itens-wrapper .home-img img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

#home .itens-wrapper .home-img video {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    display: none;
}

#home .itens-wrapper h2 {
    font-weight: normal;
}

#home .itens-wrapper h1 {
    font-size: 2.5em;
}

.contacts {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    padding: var(--white-space);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--white-space);
}

.contacts a {
    padding: var(--white-space);
    text-decoration: none;
    color: black;
    border-radius: var(--white-space);
    text-align: center;
}

#home .itens-wrapper .contacts a img {
    width: 35px;
    object-fit: contain;
    border: none;
}

#about .itens-wrapper,
#skills .itens-wrapper,
#projects .itens-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: var(--white-space);
}

.git-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--white-space);
    padding: var(--white-space);
    height: 90%;
}

.git-profile .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.git-profile img {
    width: 35%;
    border-radius: 50%;
    padding: var(--white-space);
    border: 2px dashed var(--text-color);
    object-fit: contain;
}

.git-profile .cards-wrapper {
    gap: none;
}

.git-profile .cards-wrapper .card {
    width: 100%;
    height: calc(100% / 5);
}

#projects-cards .card {
    flex-direction: row;
    flex-wrap: nowrap;
}

#projects-cards .card img {
    width: 20%;
    height: 100%;
    object-fit: contain;
}

#projects-cards .card .desc {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

#projects-cards .card .desc h3 {
    font-size: 1em;
}

#projects-cards .card .desc p {
    font-size: 0.8em;
    width: 100%;
    text-align: justify;
}

.stacks {
    display: flex;
    width: 100%;
    align-items: center;
}

.stacks span {
    padding: 7px;
    color: #1f3f87;
    background-color: White;
    font-size: 0.8em;
    border-radius: var(--white-space);
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.stacks span img {
    width: 15px;
    object-fit: contain;
}

.links {
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.links a {
    color: var(--text-color);
}

.links a i {
    font-size: 1.5em;
}


.git-profile .cards-wrapper .card a {
    width: 100%;
    padding: var(--white-space);
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.git-profile .cards-wrapper .card a p {
    font-size: .8em;
    color: grey;
}


#about .itens-wrapper .inner-section,
#skills .itens-wrapper .inner-section,
#projects .itens-wrapper .inner-section {
    height: 100%;
    padding: var(--white-space);
}

.inner-section .section-title {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: var(--white-space);
    font-size: 1.5em;
    gap: var(--white-space);
}

.inner-section .cards-wrapper {
    height: 90%;
    width: 100%;
    padding: var(--white-space);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--white-space);
}

.inner-section .cards-wrapper .card {
    width: 100%;
    border-radius: var(--white-space);
    padding: var(--white-space);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    border: 1px solid lightgrey;
}

.projects .cards-wrapper .card img {
    width: 75px;
    object-fit: contain;
}

.experience,
.hard,
.projects {
    width: 60%;
}

.obj,
.soft,
.git {
    width: 40%;
    border-left: 1px solid lightgrey;
}

.experience .cards-wrapper .card p {
    color: grey;
}

.experience .cards-wrapper .card {
    gap: var(--white-space);
}

.experience .cards-wrapper .card h4 {
    color: #444;
}


.obj .cards-wrapper .card {
    border: none;
    text-align: justify;
    font-size: .9em;
    overflow: visible;
}

#resumeView {
    position: absolute;
    top: 20px;
    right: 20px;
    color: black;
    overflow: visible;
}

#resumeView i {
    font-size: 2em;
}

.hard .cards-wrapper {
    align-items: center;
}

.hard-card img {
    width: 100%;
    object-fit: contain;
}

.hard-card {
    width: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: var(--white-space);
    gap: var(--white-space);
    height: 150px;
    border: 1px solid lightgray;
    border-radius: var(--white-space);
}

.hard-card progress {
    width: 100%;
    padding: var(--white-space);
}

.hard-card h4 {
    padding: 5px;
}

.soft-card img {
    width: 25px;
    object-fit: contain;
}

.soft-card {
    width: 100%;
    padding: var(--white-space);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--white-space);
    border: 1px solid lightgrey;
}

.hard .cards-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
}