@media (max-width:480px) {
    :root {
        --white-space: 7.5px;
    }

    header {
        width: 100%;
        bottom: 0;
        height: 10%;
        padding: 0px;
    }

    .container {
        background-color: white;
    }

    header nav {
        flex-direction: row;
        width: 90%;
        height: 75%;
        padding: 5px;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 25px;
        background-color: rgba(255, 255, 255, .2);
        backdrop-filter: blur(5px);
    }

    .navButton span {
        position: unset;
        z-index: unset;
        left: unset;
        background-color: unset;
        padding: 5px;
        border-radius: unset;
    }

    .navButton {
        display: flex;
        align-items: center;
        width: unset;
        height: unset;
        border-radius: unset;
        padding: 5px;
        background-color: none;
    }

    .navButton i {
        margin-bottom: 3px;
    }

    .navButton:nth-child(3) i {
        margin-bottom: 3px;
    }

    .active {
        background-color: transparent !important;
        color: #1f3f87 !important;
    }

    .active>span {
        display: flex;
        color: #1f3f87;
    }

    .active>i {
        background-color: #eff1f3;
        padding: 5px;
        border-radius: 50%;
    }

    header nav a span:before {
        display: none;
    }

    .home-img img,
    .home-img video {
        left: 0%;
    }

    .itens-wrapper {
        height: 90%;
        width: 100%;
        padding: 5px;
        border-bottom: none;
    }

    #home .itens-wrapper {
        text-align: center;
        display: flex;
    }

    #resumeView span {
        display: none;
    }

    #resumeView {
        background-color: white;
    }

    .git .cards-wrapper {
        padding: 0px;
        margin-top: var(--white-space);
    }

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        overflow-y: none !important;
        padding: 0px;
    }

    .experience,
    .hard,
    .projects {
        width: 100%;
        height: max-content !important;
    }

    .obj,
    .soft,
    .git {
        width: 100%;
        border: none;
        height: max-content !important;
    }

    #about .itens-wrapper,
    #skills .itens-wrapper,
    #projects .itens-wrapper {
        display: initial;
        overflow-y: scroll !important;
    }

    .card {
        height: max-content;
    }

    .hard-card {
        width: calc(50% - var(--white-space));
        height: 160px;
    }

    .hard-card progress {
        width: 75%;
    }

    .hard-prog {
        width: 100%;
        padding: var(--white-space);
        border: 1px solid lightgray;
        border-radius: 5px;
        background-color: #eff1f3;
    }

    .hard-prog span {
        width: 25%;
        border: 1px solid lightgray;
        border-radius: 5px;
        background-color: white;
        font-size: .8em;
        display: initial;
        text-align: center;
        padding: 2px;
    }

    #projects-cards .card {
        flex-direction: column;
        align-items: center;
    }

    #projects-cards .card .desc {
        width: 100%;
    }

    #projects-cards .card .stacks {
        margin-top: var(--white-space);
    }

    #projects-cards .card .links {
        flex-direction: row;
        align-items: center;
        width: 100%;
        border-radius: var(--white-space);
        background-color: #eee;
    }

    .links a {
        color: var(--text-color);
        width: 50%;
        height: 100%;
        display: grid;
        place-items: center;
        border-bottom: none;
        border-right: 1px solid lightgray;
        padding: 5px;
    }

    .links a:last-child {
        border-right: none;
    }

    #projects-cards .card .links i {
        margin-top: 2px;
    }

    .custom-scrollbar {
        display: none;
    }

    body {
        overflow-y: inherit !important;
    }

}